.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.mycss {
  background-color: grey;
  background-image: url("//ossrs.net/wiki/images/SRS-Overview-4.0.png");
  background-repeat: no-repeat;
  min-width: 1219px;
  min-height: 548px;
}

.inner{
  height: 548px;
  background: rgba(0,0,0,0.5);
}

.inner h1 {
  text-align: center;
  color: aliceblue;
}

.textAlignCenter {
  text-align: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
